html{
    background-color: #1C609B;
    color: #06070E;
}
div{
    width: 40%;
    background-color: aliceblue;
    margin:15% auto;
    padding: 2.5%;
    box-shadow: 10px 15px #00000080;
    border: thick solid black;
}
li{
    list-style-type: circle;
    width: 65%;
}
.completed{
    color: #06070E99;
    text-decoration: line-through #06070E80 20%;
}
.progressPercentage{ /* WIP for progress bar */
    border: none;
    box-shadow: none;
    width:10%;
    margin: -10% 0 0 0;
    float: right;
}